name: test_env_xarrayutils
channels:
  - conda-forge
dependencies:
  - python=3.6
  - xarray < 0.15
  - dask
  - numpy
  - black
  - scipy
  - pip
  - cf_xarray
  - pip:
    - codecov
    - pytest-cov
